OGGM_data_Finse/
env/
# Ignorar archivos temporales de Python
*.pyc
*.pyo
__pycache__/
.ipynb_checkpoints
2_Data_exploration_resolve.ipynb
3_Training_resolve.ipynb
4_Validation_resolve.ipynb
OGGM_data_Finse_practic/